<!-- <p>reset-password works!</p> -->

<!-- <input matInput placeholder="phone" type="text" [(ngModel)]="smsPhone">
<input matInput placeholder="channel" type="text" [(ngModel)]="message">
<button mat-raised-button (click)="sendMessage(smsPhone, message)" color="primary">send</button>
<br> -->

<!-- <input matInput placeholder="phone" type="text" [(ngModel)]="phone">
<input matInput placeholder="email" type="text" [(ngModel)]="email">
<input matInput placeholder="channel" type="text" [(ngModel)]="channel">
<button mat-raised-button (click)="sendOtp(phone, email, channel)" color="primary">send</button>
<br>

<input matInput placeholder="code" type="text" [(ngModel)]="code">
<button mat-raised-button (click)="verifyOtp(code)" color="primary">verify</button> -->



<h2 class="text-align-center">Reset Password</h2>

<!-- <div>Enter Mobile or Email for OTP</div> -->
<!-- <button mat-raised-button color="primary" (click)="selecteChannel('email')">Email</button>
    <button mat-raised-button color="primary" (click)="selecteChannel('sms')">Phone</button> -->

<div class="ptop-10, p-bottom-10" *ngIf="channel == 'email' || channel == 'sms'">
    <p>Provide Mobile or Email for OTP</p>
    <mat-button-toggle-group name="channelType" aria-label="Channel Type" [value]="channel"
        (change)="selecteChannel($event.value)">
        <mat-button-toggle value="email">Email</mat-button-toggle>
        <mat-button-toggle value="sms">Phone</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<form [formGroup]="resetEmailForm" (ngSubmit)="onEmailSubmit()" *ngIf="channel == 'email'">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" type="text" required />
                <mat-error class="error-message">{{ getErrorMessage(resetEmailForm, 'email') }}</mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary">Send OTP</button>
        <!-- <button mat-raised-button type="text" (click)="logIn()" color="basic">Login</button> -->
</form>

<form [formGroup]="resetPhoneForm" (ngSubmit)="onPhoneSubmit()" *ngIf="channel == 'sms'">

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Country Code</mat-label>
                <mat-select formControlName="countryCode" name="country code" required>
                    <mat-option *ngFor="let item of countryCodes" [value]="item">
                        {{item.displayName}} {{item.code}}
                    </mat-option>
                </mat-select>
                <mat-error class="error-message">{{ getErrorMessage(resetPhoneForm, 'countryCode') }}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" placeholder="phone" type="text" required minlength="10"
                    minlength="10" />
                <mat-error class="error-message">{{ getErrorMessage(resetPhoneForm, 'phone') }}</mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary">Send OTP</button>
</form>

<form [formGroup]="resetPasswordForm" (ngSubmit)="onPasswordSubmit()" *ngIf="channel == 'password'">
    <p>Provide OTP and New password</p>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>OTP</mat-label>
                <input matInput formControlName="otp" placeholder="OTP" type="text" required />
                <mat-error class="error-message">{{ getErrorMessage(resetPasswordForm, 'otp') }}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="password" placeholder="New Password"
                    [type]="showPassword ? 'text' : 'password'" required />
                <mat-icon matSuffix style="cursor: pointer;" [fontIcon]="showPassword? 'visibility':'visibility_off'"
                    (click)="showPassword = !showPassword"></mat-icon>
                <mat-error class="error-message">{{ getErrorMessage(resetPasswordForm, 'password') }}</mat-error>
            </mat-form-field>
        </div>

        <!-- <div>
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
                    [type]="showConfirmPassword ? 'text' : 'password'" required />
                <mat-icon matSuffix style="cursor: pointer;"
                    [fontIcon]="showConfirmPassword? 'visibility':'visibility_off'"
                    (click)="showConfirmPassword = !showConfirmPassword"></mat-icon>
                <mat-error class="error-message">{{ getErrorMessage('password') }}</mat-error>
            </mat-form-field>
        </div> -->

        <button mat-raised-button type="submit" color="primary" class="otp-submit">Reset Password</button>
        <!-- <button mat-raised-button type="text" (click)="logIn()" color="basic">Login</button> -->
</form>