.mat-mdc-footer-row .mat-mdc-footer-cell {
    font-weight: bold;
}

.mat-mdc-header-row .mat-mdc-header-cell {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.mat-column-NAME {
    flex: 0 0 10%;
}

.mat-column-ITEM_DESC {
    flex: 0 0 10%;
}

.mat-column-TOTAL_AMOUNT {
    flex: 0 0 6%;
}

.mat-column-CANTEEN_TOTAL_AMOUNT {
    flex: 0 0 6%;
}

.mat-column-PROFIT {
    flex: 0 0 6%;
}


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mobile-label {
    display: none;
}

.invoice-content {
    padding: 10px 0px;
}

.invoice-footer {
    padding-top: 20px;
}

.input-form {
    display: flex;
    flex-direction: column;

    .mat-mdc-form-field {
        width: 60%;
    }
}


@media(max-width: 600px) {

    .input-form {
        display: flex;
        flex-direction: column;

        .mat-mdc-form-field {
            width: 99%;
        }
    }

    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }

    .mat-header-row {
        display: none;
    }

    .mat-mdc-header-row {
        display: none;
    }

    .mat-footer-row {
        display: none;
    }

    .mat-mdc-footer-row {
        display: none;
    }

    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }

    .mat-mdc-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        border-bottom: 2px solid black;
    }
}

.print-window {
    display: flex;
    justify-content: right;
}

.reset-mat-option {
    background-color: #e0e0e0;
    justify-content: end;

    &:focus {
        background-color: #afacac;
    }

    input {
        margin: 10px;
    }

    button {
        margin: 5px;
    }
}

.search-input-flex {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

// .mat-mdc-select-panel .mdc-text-field__input::placeholder {
//     opacity: 1 !important;
// }

@media all {
    .mdc-text-field__input::placeholder {
        opacity: 1 !important;
    }
}

//.example-chip-list {
//width: 100%;
//margin-right: 5px;
//border: 1px solid grey;
//}

//   .example-chip-list .mat-mdc-form-field-flex {
//     border-right: 1px solid grey;
//   }

// mat chip responsive
// .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary, .mat-mdc-standard-chip .mdc-evolution-chip__action--primary, .mat-mdc-standard-chip .mat-mdc-chip-action-label {
//     overflow: hidden !important;
//   }

// .mat-mdc-standard-chip .mat-mdc-chip-action-label {
//     overflow: hidden !important;
//   }


.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 0 8px !important;
}

.table-align-right {
    justify-content: flex-end;
}

.header-center-align {
    justify-content: center;
}

//

mat-header-cell.mat-column-NAME {
    justify-content: center;
}

mat-header-cell.mat-column-ITEM_DESC {
    justify-content: center;
}

mat-header-cell.mat-column-TOTAL_AMOUNT {
    justify-content: center;
}

mat-header-cell.mat-column-CANTEEN_TOTAL_AMOUNT {
    justify-content: center;
}

mat-header-cell.mat-column-PROFIT {
    justify-content: center;
}