<div class="print-window px-10 no-print">
  <!-- <button mat-raised-button color="primary" (click)="printWindow()" matTooltip="use A3 size and landsacpe view">
    <mat-icon fontIcon="print"></mat-icon> Print</button> -->
  <button mat-raised-button color="primary" (click)="savePdfModal()" matTooltip="Save Or Print invoice">
    <mat-icon fontIcon="download"></mat-icon> Save</button>
  <!-- <button mat-raised-button color="primary" (click)="saveXlsx('excel')" matTooltip="Save as Excel">
      <mat-icon fontIcon="download"></mat-icon> Excel</button>
      <button mat-raised-button color="primary" (click)="saveXlsx('csv')" matTooltip="Save as Excel">
        <mat-icon fontIcon="download"></mat-icon> CSV</button> -->
</div>

<!-- [class.hidden]="!dataSource" -->

<custom-auto-complete *ngIf="allIndexList" [data]="allIndexList" [label]="'Index Numbers'" [placeHolder]="'Index Numbers'"
    (selectedEmitter)="filterEmitter($event, 'email')">
</custom-auto-complete>

<custom-auto-complete *ngIf="allNameList" [data]="allNameList" [label]="'Company Name'" [placeHolder]="'Company Name'"
    (selectedEmitter)="filterEmitter($event, 'name')">
</custom-auto-complete>

<div class="example-container mat-elevation-z8" [class.hidden]="!dataSource">

  <!--MAT TABLE 1-->
  <mat-table id="vvr-mat-table" [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="indexNumber"
    matSortDisableClear [trackBy]="trackBy">

    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef [mat-sort-header]="column">{{displayNames[column]}} </mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames[column]}}:</span>
          {{currencyFields.indexOf(column) !== -1 ? (element[column] | currency :'INR') : element[column]}} </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{column == 'NAME' ? 'Total' : currencyFields.indexOf(column) !== -1 ?
          (getTotal(column) | currency :'INR') : getTotal(column)}} </mat-footer-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index"
      [ngClass]="i % 2 == 0 ? 'item-even':'item-odd'"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100, 500]" [pageSize]="50" aria-label="Select page of mstc data"
    showFirstLastButtons></mat-paginator>

  <!--MAT TABLE 1-->

  <!--MAT TABLE 2-->
  <!-- <table mat-table id="vvr-mat-table" [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="indexNumber"
    matSortDisableClear>

    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column"> {{displayNames[column]}} </th>
        <td mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames[column]}}:</span>
          {{element[column]}} </td>
        <td mat-footer-cell *matFooterCellDef> {{column == 'NAME' ? 'Total' : getTotal(column)}} </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table> -->
  <!--MAT TABLE 2-->

  <!-- <table mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="indexNumber"
    matSortDisableClear>

    <ng-container *ngFor="let column of displayedColumns">
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column"> {{displayNames[column]}} </th>
        <td mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames[column]}}:</span>
          {{element[column]}} </td>
        <td mat-footer-cell *matFooterCellDef> {{column == 'NAME' ? 'Total' : getTotal(column)}} </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table> -->
</div>