<h4 class="p-10 text-align-center">Approve Or Delete Users</h4>

<h5>Filters:</h5>
<custom-auto-complete *ngIf="allEmailList" [data]="allEmailList" [label]="'Email'" [placeHolder]="'Email'"
    (selectedEmitter)="filterEmitter($event, 'email')">
</custom-auto-complete>

<custom-auto-complete *ngIf="allNameList" [data]="allNameList" [label]="'User Name'" [placeHolder]="'User Name'"
    (selectedEmitter)="filterEmitter($event, 'name')">
</custom-auto-complete>

<div class="example-container mat-elevation-z8" [class.hidden]="!dataSource">
    <!--MAT TABLE 1-->
    <mat-table id="poker-mat-table" [dataSource]="dataSource" matSort matSortDirection="asc" matSortActive="name"
        matSortDisableClear [trackBy]="trackBy">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="name">{{displayNames['name']}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames['name']}}:</span>
                {{element['name']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header="email">{{displayNames['email']}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames['email']}}:</span>
                {{element['email']}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="approve">
            <mat-header-cell *matHeaderCellDef>{{displayNames['approve']}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames['approve']}}:</span>
                <span *ngIf="element['adminApproved']">
                    <button mat-button color="accent" disabled>Approved</button>
                    <button mat-raised-button color="primary" (click)="unApproveUser(element)">un-approve</button>
                </span>
                <span *ngIf="!element['adminApproved']">
                    <button mat-raised-button color="primary" (click)="approveUser(element)">Approve</button>
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>{{displayNames['delete']}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><span class="mobile-label">{{displayNames['delete']}}:</span>
                <span>
                    <button mat-raised-button color="primary" (click)="deleteUser(element)">Delete</button>
                </span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index"
            [ngClass]="i % 2 == 0 ? 'item-even':'item-odd'"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 100, 500]" [pageSize]="20" aria-label="Select page of user data"
        showFirstLastButtons></mat-paginator>

</div>