<!-- <div class="progress-spinner" *ngIf="showSpinner">
    <mat-progress-spinner [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div> -->
<h1 class="heading-vvr no-print">Welcome to VVR Project</h1>

<h1 class="heading-vvr only-print">Invoice of Sales</h1>

<!-- <div class="only-print px-10">
    <p>To,</p>
    <p>The Manager</p>
    <p>Company Name</p>
    <p>Address - zipCode</p>
    <br>
    <p>Dear Sir,</p>
    <br>
    <p>Sub: SALE & STOCK POSITON FOR THE MONTH OF Month - Year of Depot.</p>
    <br>
</div> -->

<div class="file-select no-print">
    <button mat-raised-button color="primary" (click)="onClick($event)"
        matTooltip="supported files are '.xls' and '.xlsx'">
        <mat-icon fontIcon="upload"></mat-icon>
        Choose File</button>
    <input #fileUpload type="file" class="ng-hide" id="input-file-id" (change)="onFileChange($event)"
        accept=".xls, .xlsx" />
    <!-- <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->

    <div *ngIf="excelFile" class="selected_file">
        <span>Selected file is "{{excelFile.name}}"</span>
        <!-- <button mat-icon-button
                color="primary"
                title="Delete"
                (click)="removeFile(event,i)"
        >
          <mat-icon fontIcon="delete"></mat-icon>
        </button> -->
    </div>
</div>





<ng-container
    *ngIf="mstcArrayVVRProducts && mstcArrayVVRProducts.length && mstcArrayVVRProductsGroup && mstcArrayVVRProductsGroup.length">

    <div class="px-10 no-print">
        <h3>Select Product Or Group Table</h3>
        <mat-button-toggle-group name="tableType" aria-label="Table Type" [value]="selectedTableType"
            (change)="onTableTypeChange($event)">
            <mat-button-toggle value="product">Product Table</mat-button-toggle>
            <mat-button-toggle value="group">Group Table</mat-button-toggle>
        </mat-button-toggle-group>
    </div>


    <app-mat-table *ngIf="selectedTableType == 'product'" [tableData]="mstcArrayVVRProducts"></app-mat-table>

    <app-mat-table *ngIf="selectedTableType == 'group'" [tableData]="mstcArrayVVRProductsGroup"></app-mat-table>
</ng-container>

<!-- <ng-container *ngIf="mstcArrayVVRProductsGroup && mstcArrayVVRProductsGroup.length">
    <app-mat-table [tableData]="mstcArrayVVRProductsGroup"></app-mat-table>
</ng-container> -->

<!-- <div class="only-print px-10">
    <p>Regards</p>
    <p>VVR</p>
    <br>
</div> -->