<!-- <div class="progress-spinner" *ngIf="showSpinner">
    <mat-progress-spinner [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div> -->
<h1 class="heading-vvr">Welcome to VVR Project</h1>

<div class="file-select">
    <button mat-raised-button color="primary" (click)="onClick($event)">
        <mat-icon fontIcon="add"></mat-icon>
        Choose File</button>
    <input #fileUpload type="file" class="ng-hide" id="input-file-id" (change)="onFileChange($event)"
        accept=".xls, .xlsx" />
    <!-- <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->

    <div *ngIf="excelFile" class="selected_file">
        <span>Selected file is "{{excelFile.name}}"</span>
        <!-- <button mat-icon-button
                color="primary"
                title="Delete"
                (click)="removeFile(event,i)"
        >
          <mat-icon fontIcon="delete"></mat-icon>
        </button> -->
    </div>
</div>



<ng-container *ngIf="mstcArrayVVRProducts && mstcArrayVVRProducts.length">
    <app-mat-table [tableData]="mstcArrayVVRProducts"></app-mat-table>
</ng-container>