

#input-file-id {
    display: none;
}

.file-select {
    display: flex;
    padding: 10px;
}

.selected_file{
    padding: 10px;
}

// .progress-spinner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -moz-transform: translateX(-50%) translateY(-50%);
//     -webkit-transform: translateX(-50%) translateY(-50%);
//     transform: translateX(-50%) translateY(-50%);
// }

// .mat-mdc-footer-row .mat-mdc-footer-cell{
//     font-weight: bold;
//   }

// .hidden {
//     visibility: hidden;
// }

// .mat-column-name {
//     flex: 0 0 10%;
// }

// .mat-column-itemDesc {
//     flex: 0 0 10%;
// }


// .example-container {
//     display: flex;
//     flex-direction: column;
//     //max-height: 500px;
//     min-width: 300px;
// }

