.dialog-close-icon{
    display: flex;
    justify-content: right;
    padding: 5px;
}

.invoice-form {
    min-width: 150px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .quill-header{
    height: 200px;
  }

  .quill-footer{
    height: 150px;
  }