<h2 mat-dialog-title>Provide Invoice Input</h2>
<mat-dialog-content>
    <div class="dialog-close-icon">
        <button mat-raised-button align="right" color="primary" (click)="close()"><mat-icon fontIcon="close"
                class="no-margin"></mat-icon></button>
    </div>

    <h4>Select columns for table</h4>
    <div class="p-10">
        <ng-container *ngFor="let column of printColumns">
            <mat-checkbox class="example-margin" color="primary"
                [(ngModel)]="column.checked">{{column.displayName}}</mat-checkbox>
            <!-- <button mat-raised-button color="primary" (click)="close()">{{displayNames[column]}}</button> -->
        </ng-container>
    </div>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Select a Company</mat-label>
        <mat-select [(value)]="selectedFood">
          <mat-option></mat-option>
          <mat-option [value]="option.value" *ngFor="let option of foods">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field> -->



    <form class="invoice-form" [formGroup]="invoiceForm">

        <div class="display-flex">
            <mat-form-field appearance="outline" class="half-width p-10">
                <mat-label>Invoice name</mat-label>
                <input matInput formControlName="invoiceName" placeholder="Invoice name" type="text" />
            </mat-form-field>

            <mat-form-field class="half-width p-10">
                <mat-label>Select a Company</mat-label>
                <mat-select formControlName="companyName" name="company"
                    (selectionChange)="onSelectCompany($event.value)">
                    <mat-option [value]="null">reset</mat-option>
                    <mat-option *ngFor="let item of headerFooterData" [value]="item">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <!-- <mat-hint>Select a file</mat-hint> -->
            </mat-form-field>
        </div>

        <h4>Provide header and footer data</h4>

        <mat-form-field class="full-width">
            <mat-label>Invoice Header</mat-label>
            <textarea matInput placeholder="To, Manager, ....." rows="12" formControlName="header"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Invoice Footer</mat-label>
            <textarea matInput placeholder="Regards, VVR ....." rows="6" formControlName="footer"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <!-- <button mat-raised-button color="primary" (click)="submit()">Continue</button> -->
    <button mat-raised-button color="primary" (click)="submit(downLoadTypeEnum.print)">Print</button>
    <button mat-raised-button color="primary" (click)="submit(downLoadTypeEnum.pdf)">PDF</button>
    <button mat-raised-button color="primary" (click)="submit(downLoadTypeEnum.excel)">Excel</button>
    <button mat-raised-button color="primary" (click)="submit(downLoadTypeEnum.csv)">CSV</button>
</mat-dialog-actions>