@import './scss/utility.scss';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  margin: 5px;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: grey;
  opacity: 0.45 !important;
}

.px-10 {
  padding: 10px;
}

.mx-10 {
  margin: 10px;
}

.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

// @media print and (width: 21cm) and (height: 29.7cm) {
//   @page {
//      margin: 3cm;
//   }
// }

// /* style sheet for "letter" printing */
// @media print and (width: 8.5in) and (height: 11in) {
//  @page {
//      margin: 1in;
//  }
// }

// @media print {
// /* A3 Landscape*/
// @page {
//   size: A3 landscape;
//   margin: 10%;
//  }
// }

.only-print {
  display: none !important;
}

@media print {
  #vvr-mat-table>mat-footer-row {
    bottom: 0px !important;
    position: static !important;
  }

  #vvr-mat-table>mat-header-row {
    position: static !important;
  }

  .no-print {
    display: none !important;
  }

  .only-print {
    display: block !important;
  }

  body {
    background-color: #d3edec;
  }

  #vvr-mat-table {
    background-color: #b0cfc0;

    mat-header-row {
      background-color: #678f81;
    }

    mat-footer-row {
      background-color: #678f81;
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.vvr-spacer {
  flex: 1 1 auto;
}

// button,
// a {
//   &.mat-raised-button,
//   &.mat-icon-button,
//   &.mat-button {
//     margin: 5px;
//     //padding: 5px;
//     &:focus {
//       background-color: white;
//       color: blue;
//     }

//     &:hover {
//       background-color: white;
//       color: blue;
//     }
//   }
// }

// button,
// a {
//   &.mat-mdc-raised-button,
//   &.mat-mdc-icon-button,
//   &.mat-mdc-button {
//     margin: 5px;
//     //padding: 5px;
//     &:focus {
//       background-color: white;
//       color: blue;
//     }

//     &:hover {
//       background-color: white;
//       color: blue;
//     }
//   }
// }

button,
a {
  &.mat-mdc-raised-button,
  &.mat-mdc-icon-button,
  &.mat-mdc-button {
    margin: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .non-dialog-comp {
    input, mat-form-field {
      max-width: 50%;
    }
  }

  // .cdk-overlay-pane {
  //   min-width: 50%;
  // }
}

@media only screen and (min-width: 992px) {
  .non-dialog-comp {
    input, mat-form-field {
      max-width: 50%;
    }
  }
  // .cdk-overlay-pane {
  //   min-width: 40%;
  // }
}

.block-container {
  width: 100%;
  // max-width: 1280px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
  margin-bottom: 60px;
  clear: both;
}

a {
  //background-color:transparent !important;
  text-decoration: none !important;
}

.error.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background: var(--mdc-theme-error, #c21b1b);
  color: white;
}

.success.mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background: #368f15;
  color: white;
}

.mat-mdc-tab-body-content { overflow: hidden!important}

.display-flex{
  display: flex;
}

.tab-custom-overflow .mat-mdc-tab-body-wrapper {
  overflow: visible !important;
}
.tab-custom-overflow .mat-mdc-tab-body-active {
  overflow: visible !important;
}
.tab-custom-overflow .mat-mdc-tab-body-content {
  overflow: visible !important;
}