body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: grey;
  opacity: 0.45 !important;
}

.px-10 {
  padding: 10px;
}

.mx-10 {
  margin: 10px;
}

.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

// @media print and (width: 21cm) and (height: 29.7cm) {
//   @page {
//      margin: 3cm;
//   }
// }

// /* style sheet for "letter" printing */
// @media print and (width: 8.5in) and (height: 11in) {
//  @page {
//      margin: 1in;
//  }
// }

// @media print {
// /* A3 Landscape*/
// @page {
//   size: A3 landscape;
//   margin: 10%;
//  }
// }

.only-print {
  display: none !important;
}

@media print {
  #vvr-mat-table>mat-footer-row {
    bottom: 0px !important;
    position: static !important;
  }

  .no-print {
    display: none !important;
  }

  .only-print {
    display: block !important;
  }

  body {
    background-color: #d3edec;
  }

  #vvr-mat-table {
    background-color: #b0cfc0;

    mat-header-row {
      background-color: #678f81;
    }

    mat-footer-row {
      background-color: #678f81;
    }
  }

  // body *:not(#vvr-mat-table) {
  //   display: none;
  // }

  // body>* {
  //   display: none;
  // }

  // #vvr-mat-table {
  //   display: block;
  // }

  // body > app-root > app-mat-table > div.example-container.mat-elevation-z8 > #vvr-mat-table {
  //   display: block !important;
  // }
}