.input-form {
    display: flex;
    flex-direction: column;

    .mat-mdc-form-field {
        width: 60%;
    }
}

@media(max-width: 600px) {

    .input-form {
        display: flex;
        flex-direction: column;
    
        .mat-mdc-form-field {
            width: 99%;
        }
    }
}